Repository kokiebisu/ecommerce, changes with the labels that .github/labeler.yml gives for each.
All labels: authentication, cart, order, payment, product, session, users, workflows, infra, ui

.github/labeler.yml:

authentication:
  - packages/authentication/*
cart:
  - packages/cart/*
order:
  - packages/order/*
payment:
  - packages/payment/*
product:
  - packages/product/*
session:
  - packages/session/*
users:
  - packages/users/*
workflows:
  - .github/*
infra:
  - terraform/*
ui:
  - ui/*

fix README.md
  README.md
Labels: none

Setup RDS instance for product service (#25)
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/api-gateway/deployment.tf
  terraform/modules/api-gateway/resources.tf
  terraform/modules/ecs/security-group.tf
  terraform/modules/load-balancer/main.tf
  terraform/modules/networking/vpc.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/outputs.tf
  terraform/modules/rds/security-group.tf
  terraform/modules/rds/variables.tf
  terraform/outputs.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Labels: infra

update webpack
  ui/package-lock.json
  ui/package.json
  ui/src/assets/fonts/Airbnb_Cereal-Book.woff2
  ui/webpack.config.js
Labels: ui

seperate css and styles folders
  ui/src/css/global.css
  ui/src/styles/background.ts
  ui/src/styles/index.ts
Labels: none

update code
  ui/src/app.tsx
  ui/src/components/card/card-task/index.tsx
  ui/src/index.tsx
  ui/src/pages/home.tsx
Labels: none

ignore .env files
  .gitignore
Labels: none

UI Improvement (#27)
  ui/package-lock.json
  ui/package.json
  ui/src/app.tsx
  ui/src/assets/fonts/Airbnb_Cereal-Book.woff2
  ui/src/components/card/card-task/index.tsx
  ui/src/css/global.css
  ui/src/index.tsx
  ui/src/pages/home.tsx
  ui/src/styles/background.ts
  ui/src/styles/index.ts
  ui/webpack.config.js
Labels: ui
